<div>
  <h1>Angular HTML Table Example</h1>
  <table>
    <th *ngFor="let column of headers">
      {{column}} &nbsp;
    </th>

    <tr *ngFor="let row of rows">
      <td>
        {{row.id}}
      </td>

      <td>
        {{row.Name}}
      </td>

      <td
      >
        {{row.race}}
      </td>

      <td
      >
        {{row.address}}
      </td>

      <td
      >
        {{row.email}} &nbsp;
      </td>

      <td
      >
        {{row.birthday}} &nbsp;
      </td>

      <td
      >
        {{row.social}} &nbsp;
      </td>
      <td
      >
        {{row.pcp}} &nbsp;
      </td>

      <td
      >
        {{row.weight}}
      </td>
      <td
      >
        {{row.height}}
      </td>
      <td
      >
        {{row.bmi}}
      </td>

    </tr>


  </table>
</div>
